{% include 'include-featured-text' %}

{% style %}
#shopify-section-{{ section.id }} h2.title {
  font-family: '{{ section.settings.font_family_desktop }}';
  font-size: {{ section.settings.font_size_desktop }}px;
  text-transform: {{ section.settings.text_transform_desktop }};
  letter-spacing: {{ section.settings.letter_spacing_desktop }}px;
}
@media (max-width: 767px) {
  #shopify-section-{{ section.id }} h2.title {
    font-family: '{{ section.settings.font_family_mobile }}';
    font-size: {{ section.settings.font_size_mobile }}px;
    text-transform: {{ section.settings.text_transform_mobile }};
    letter-spacing: {{ section.settings.letter_spacing_mobile }}px;
  }
}
{% endstyle %}

{% schema %}
  {
    "name": "Rich text",
    "class": "headline-section featured-content-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Logo",
        "info": "600 x 600px recommended"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "checkbox",
        "id": "show_divider",
        "label": "Show divider",
        "default": true
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Link label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "options": [
          {
            "value": "regular_text",
            "label": "Regular"
          },
          {
            "value": "featured_text",
            "label": "Large"
          }
        ],
        "default": "featured_text"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "align_left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "center"
      },
      {
        "type": "header",
        "content": "Typography Desktop"
      },
      {
        "type": "select",
        "id": "font_family_desktop",
        "label": "Font",
        "options": [
          {
            "value": "styrene-thin",
            "label": "Styrene Thin"
          },
          {
            "value": "styrene-light",
            "label": "Styrene Light"
          },
          {
            "value": "styrene-reg",
            "label": "Styrene Regular"
          },
          {
            "value": "styrene-medium",
            "label": "Styrene Medium"
          },
          {
            "value": "styrene-bold",
            "label": "Styrene Bold"
          },
          {
            "value": "OrpheusPro",
            "label": "OrpheusPro"
          }
        ],
        "default": "OrpheusPro"
      },
      {
        "type": "select",
        "id": "text_transform_desktop",
        "label": "Capitalization",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "uppercase",
            "label": "Uppercase"
          },
          {
            "value": "lowercase",
            "label": "Lowercase"
          }
        ],
        "default": "none"
      },
      {
        "type": "range",
        "id": "font_size_desktop",
        "label": "Size",
        "min": 12,
        "max": 50,
        "step": 1,
        "unit": "px",
        "default":  36
      },
      {
        "type": "range",
        "id": "letter_spacing_desktop",
        "label": "Letter Spacing",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "unit": "px",
        "default":  2
      },
      {
        "type": "header",
        "content": "Typography Mobile"
      },
      {
        "type": "select",
        "id": "font_family_mobile",
        "label": "Font",
        "options": [
          {
            "value": "styrene-thin",
            "label": "Styrene Thin"
          },
          {
            "value": "styrene-light",
            "label": "Styrene Light"
          },
          {
            "value": "styrene-reg",
            "label": "Styrene Regular"
          },
          {
            "value": "styrene-medium",
            "label": "Styrene Medium"
          },
          {
            "value": "styrene-bold",
            "label": "Styrene Bold"
          },
          {
            "value": "OrpheusPro",
            "label": "OrpheusPro"
          }
        ],
        "default": "OrpheusPro"
      },
      {
        "type": "select",
        "id": "text_transform_mobile",
        "label": "Capitalization",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "uppercase",
            "label": "Uppercase"
          },
          {
            "value": "lowercase",
            "label": "Lowercase"
          }
        ],
        "default": "none"
      },
      {
        "type": "range",
        "id": "font_size_mobile",
        "label": "Size",
        "min": 12,
        "max": 50,
        "step": 1,
        "unit": "px",
        "default":  24
      },
      {
        "type": "range",
        "id": "letter_spacing_mobile",
        "label": "Letter Spacing",
        "min": 0,
        "max": 10,
        "step": 0.5,
        "unit": "px",
        "default":  0
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
