{% if type == 'block' %}
  {% assign id = block.id %}
  {% assign image = block.settings.image %}
  {% assign layout = block.settings.layout %}
  {% assign title = block.settings.title %}
  {% assign text = block.settings.text %}
  {% assign text_alignment = block.settings.text_alignment %}
  {% assign button_label = block.settings.button_label %}
  {% assign button_link = block.settings.button_link %}
{% else %}
  {% assign id = section.id %}
  {% assign image = section.settings.image %}
  {% assign layout = section.settings.layout %}
  {% assign title = section.settings.title %}
  {% assign text = section.settings.text %}
  {% assign text_alignment = section.settings.text_alignment %}
  {% assign button_label = section.settings.button_label %}
  {% assign button_link = section.settings.button_link %}
{% endif %}

<div class="container">
  <div class="sixteen columns">
    <div class="homepage_content section clearfix image_with_text image-text--align-{{ layout }}">
      {% capture image_layout %}
        <div class="eight columns image_column {% if layout == 'left' %}alpha animate_left{% else %}omega animate_right{% endif %}">
          <div class="my_play_btn"></div>
          {% if image != blank %}
            <img  src="{{ image | img_url: '300x' }}"
                  alt="{{ image.alt }}"
                  data-src="{{ image | img_url: '2048x' }}"
                  class="lazyload lazyload--fade-in my_video_open_section"
                  data-sizes="auto"
                  data-srcset=" {{ image | img_url: '2048x' }} 2048w,
                                {{ image | img_url: '1600x' }} 1600w,
                                {{ image | img_url: '1200x' }} 1200w,
                                {{ image | img_url: '1000x' }} 1000w,
                                {{ image | img_url: '800x' }} 800w,
                                {{ image | img_url: '600x' }} 600w,
                                {{ image | img_url: '400x' }} 400w"
                   />
          {% else %}
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}

          <div class="video-wrapper"> <span class="close_menu_tag_video">X</span><iframe width="420" height="345" src="{{ section.settings.video }}?rel=0" frameborder="0">
            </iframe></div>
        </div>
      {% endcapture %}

      {% if layout == 'left' %}
        {{ image_layout }}
      {% endif %}

      <div class="seven columns content_column {% if layout == 'left' %}offset-by-one omega{% else %}offset-by-one-alternate alpha{% endif %} text-align--{{text_alignment}}">
        {% if title != blank %}
          <h3>
            {{ title | escape }}
          </h3>
        {% endif %}
        {% if text != blank %}
          {{ text }}
        {% endif %}
        {% if button_label != blank %}
          <a {% if button_link != blank %}href="{{ button_link }}"{% endif %} class="action_button">
            {{ button_label | escape }}
          </a>
        {% endif %}
      </div>

      {% if layout == 'right' %}
        {{ image_layout }}
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image with text",
    "class": "image-with-text-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1600 x 1000px recommended"
      },
  		{
        "type": "text",
        "id": "video",
        "label": "Video link",
        "info": "It should be embed video url such as https://www.youtube.com/embed/tgbNymZ7vqY"
    	},
      {
        "type": "select",
        "id": "layout",
        "label": "Image position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "left"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
