{% comment %}
  The contents of the product.description-bottom.liquid template can be found in /sections/product-description-bottom-template.liquid
{% endcomment %}
<div class="container main content main-wrapper">

  <div class="breadcrumb__wrapper sixteen columns">
    <div class="nav_arrows">
      {% if collection.previous_product %}
        <a href="{{ collection.previous_product }}" title="{{ 'products.general.previous_product_html' | t }}" class="ss-icon prev"><span class="icon-circle-left"></span></a>
      {% endif %}

      {% if collection.next_product %}
        <a href="{{collection.next_product}}" title="{{ 'products.general.next_product_html' | t }}" class="ss-icon next"><span class="icon-circle-right"></span></a>
      {% endif %}
    </div>
    <div class="breadcrumb breadcrumb--text" itemscope itemtype="http://schema.org/BreadcrumbList">
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
      <span class="icon-arrow-right"></span>
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        {% if collection %}
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a>
        {% else %}
          <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>
        {% endif %}
      </span>
      <span class="icon-arrow-right"></span>
      {{ product.title }}
    </div>
  </div>

{% section 'product__sidebar' %}

<div class="sixteen columns alpha omega" data-initial-width="sixteen" data-sidebar-width="twelve">
  {% section 'product-description-bottom-template' %}

  {% section 'product-recommendations' %}
</div>

</div>
